[Unit]
Description=Run Ratis secrets expiry check daily
Requires=secrets-expiry-check@%i.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
